<div class="profile-container" [class.leftnavExpanded]="leftnavExpanded">
  <h1>User Profile</h1>
  @if (apiResponse) {
    <div class="content">
      <h3>
        <!-- <strong>{{ apiResponse.name }}</strong> Profile -->
      </h3>
      <p><strong>API KEY</strong>: {{ this.apiKey }}</p>
      <p>
        <strong>Email:</strong>
        <!-- {{ apiResponse.username }} -->
      </p>
      <p>
        <a href="https://dandi.dk.ucsd.edu/admin" target="_blank">Admin portal</a>
      </p>
    </div>
  } @else {
    <p>Please login.</p>
  }
</div>
