.docs-container {
  padding: 24px;

  h1 {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 2rem;
  }

}
.custom-ol {
  list-style-type: decimal !important; /* This ensures numbers are shown */
  margin-left: 20px; /* This ensures there is space for the numbers to be visible */
}
